.chose-info {
  font-size: 14pt;
  float: bottom;
}

.card {
  width: 320px;
  height: 360px;
  float: left;
  margin-bottom: 1%;
  margin-right: 1%;
}

.card-options {
  width: 280px;
  height: 360px;
  float: left;
  margin-bottom: 2%;
  margin-right: 1%;
}

.container {

}

@media all and (max-width:768px) {
  .card {
    width: 90%;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
  }
  .card-options {
    width: 90%;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
  }
}

.button-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
}

.container-button {
  width: 100%;
  margin-bottom: 4%;
}

.container-checkbox {
  width: 100%;
  margin-bottom: 4%;
  margin-top: 4%;
}

.select {
  width: 100%;
}

table {
  width: 100%;
}
