<form>
<div mat-dialog-content style="padding: 10px">
  <h4 class="chose-info">Options / Stage 1 / Blackjack</h4>

  <mat-card>
    <mat-card-content>
      <div class="container-input">
        <mat-form-field class="input">
          <input matInput type="number"
                 step="0.1"
                 placeholder="Amount of replenishment"
                 [(ngModel)]="data.amountOfReplenishment" name="amountOfReplenishment"
          >
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stage 1
        </mat-panel-title>
        <mat-panel-description>
          Stage 1
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-input">
        <mat-form-field class="input-stage1">
          <input matInput type="number"
                 placeholder="Max count games"
                 [(ngModel)]="data.maxCountGamesStage1" name="maxCountGamesStage1"
          >
        </mat-form-field>
        <mat-form-field class="input-stage1">
          <input matInput type="number"
                 placeholder="Max win games"
                 [(ngModel)]="data.maxWinGamesStage1" name="maxWinGamesStage1"
          >
        </mat-form-field>
        <mat-form-field class="input-stage1">
          <input matInput type="number"
                 placeholder="Max balance"
                 [(ngModel)]="data.maxBalanceStage1" name="maxBalancestage1"
          >
        </mat-form-field>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stage 2
        </mat-panel-title>
        <mat-panel-description>
          Stage 2
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-input">
        <mat-form-field class="input-stage2">
          <input matInput type="number"
                 step="1.0"
                 placeholder="Max win games"
                 [(ngModel)]="data.maxWinGamesStage2" name="maxWinGamesStage2"
          >
        </mat-form-field>
        <mat-form-field class="input-stage2">
          <input matInput type="number"
                 placeholder="Max balance"
                 [(ngModel)]="data.maxBalanceStage2" name="maxBalanceStage2"
          >
        </mat-form-field>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <!--
  <mat-card  class="card">
    <mat-card-content>
      <div class="container-input">
        <mat-form-field class="input">
          <input matInput type="number"
                 step="0.1"
                 placeholder="Amount of replenishment"
                 [(ngModel)]="data.amountOfReplenishment" name="amountOfReplenishment"
          >
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card  class="card">
    <mat-card-header>
      <mat-card-title>Stage 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container-input">
            <mat-form-field class="input-stage1">
              <input matInput type="number"
                     placeholder="Max count games"
                     [(ngModel)]="data.maxCountGamesStage1" name="maxCountGamesStage1"
              >
            </mat-form-field>
            <mat-form-field class="input-stage1">
              <input matInput type="number"
                     placeholder="Max win games"
                     [(ngModel)]="data.maxWinGamesStage1" name="maxWinGamesStage1"
              >
            </mat-form-field>
            <mat-form-field class="input-stage1">
              <input matInput type="number"
                     placeholder="Max balance"
                     [(ngModel)]="data.maxBalanceStage1" name="maxBalancestage1"
              >
            </mat-form-field>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card  class="card">
    <mat-card-header>
      <mat-card-title>Stage 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div class="container-input">
                <mat-form-field class="input-stage2">
                  <input matInput type="number"
                         step="1.0"
                         placeholder="Max win games"
                         [(ngModel)]="data.maxWinGamesStage2" name="maxWinGamesStage2"
                  >
                </mat-form-field>
                <mat-form-field class="input-stage2">
                  <input matInput type="number"
                         placeholder="Max balance"
                         [(ngModel)]="data.maxBalanceStage2" name="maxBalanceStage2"
                  >
                </mat-form-field>
            </div>
    </mat-card-content>
  </mat-card> -->
</div>
  <div mat-dialog-actions>
    <div class="container-button-ok">
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
  </div>
</form>

