<form #formControl="ngForm"
      (ngSubmit)="onSubmit()">
  <div class="mat-subheading-2">Edit a bet</div>

  <mat-form-field>
    <input matInput
           placeholder="Bet"
           type="number"
           name="bet"
           [(ngModel)]="bet"required >
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-button (click)="onCancel()">CANCEL</button>
    <button mat-button [disabled]="!formControl.valid" type="submit">SAVE</button>
  </div>
</form>
