<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngFor="let bot of bots">

      <a mat-list-item [routerLink]="['/bot', bot._id]">
        <span>{{ bot._id }}</span>
      </a>

    <!--  <a mat-list-item *ngIf="showBot"
         routerLink="/casino-bot/:id">CasinoBot 1.3.1
      </a>-->




    </mat-nav-list>
    <div class="button-bottom-left">
      <button mat-raised-button class="button" (click)="createCasinoBot()">Add</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>


         <!-- <div class="button-top-right">
            <button mat-raised-button class="button" [routerLink]="['/login']">Logout</button>
          </div>
          <div class="button-top-right1">
            <button mat-raised-button class="button" (click)="userRegister()">Register</button>
          </div>
          <div class="about">
            <button mat-button class="button" routerLink="/about">About</button>
          </div>-->

          <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
            <mat-icon svgIcon="menu_account"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/login']">
              <mat-icon svgIcon="exit_to_app"></mat-icon>
              <span>Logout</span>
            </button>
            <button mat-menu-item  (click)="userRegister()">
              <mat-icon svgIcon="register"></mat-icon>
              <span>Register</span>
            </button>
            <button mat-menu-item routerLink="/about">
              <mat-icon svgIcon="about"></mat-icon>
              <span>About</span>
            </button>
          </mat-menu>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
