.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.card {
  float: left;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 1%;
  margin-left: 1%;
}

mat-sidenav {
  width: 80%;
}

.button-bottom-left {
  position: absolute;
  left: 10px;
  bottom: 30px;
  width: 90px;
}

.button-top-right {
  position: absolute;
  right: 10px;
  width: 90px;
}

.button-top-right1 {
  position: absolute;
  right: 110px;
  width: 90px;
}

.about {
  position: absolute;
  right: 210px;
  width: 90px;
}

.button {
  margin-right: 1%;
}

.menu {
  position: absolute;
  right: 10px;
}
