<form>
  <mat-card class="card" >
      <div>
      <mat-form-field>
        <mat-select placeholder="Choose game"
                    [(ngModel)]="selectedValueGameGeneralStage1"
                    name="game"
                    (ngModelChange)="onGameChange($event)"
        >
          <mat-option *ngFor="let game of gamesGeneralStage1" [value]="game.viewValue">
            {{game.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p class ="chose-info"> You chose the game: {{selectedValueGameGeneralStage1}} </p>
      </div>
  </mat-card>
  <mat-card class="card">
      <div>
       <mat-form-field>
         <mat-select placeholder="Choose provider"
                     [(ngModel)]="selectedValueProviderGeneralStage1"
                     name="provider"
                     (ngModelChange)="onProviderChange($event)"
         >
           <mat-option *ngFor="let provider of providersGeneralStage1" [value]="provider.viewValue">
             {{provider.viewValue}}
           </mat-option>
         </mat-select>
       </mat-form-field>

      <p class ="chose-info"> You chose a provider: {{selectedValueProviderGeneralStage1}} </p>
      </div>
  </mat-card>

 </form>
